@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-bold-webfont.svg#Proxima Nova Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Proxima Nova Light';
    src: url('../fonts/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-light-webfont.woff') format('woff'),
         url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-light-webfont.svg#Proxima Nova Light') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular-webfont.svg#Proxima Nova Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

$main-colour: #6b6b6b;
$secondary-colour: #3a3838;


body{
	font-family: Georgia, Times, sans-serif;
	font-size: 19px;
	line-height: 1.75;
	color: $main-colour;
	background: #f2f2f2;
}

.container{
	width: 90%;
	max-width: 1080px;
	margin: 0 auto;
}

.editors{
	margin-top: 40px;
}

header{
	margin-bottom: 80px;
}

h1 {
	font-family: 'Proxima Nova Bold';
	font-size: 70px;
	font-weight: 300;
	color: $secondary-colour;
	margin-top: 80px;
}

h2{
	font-family: 'Proxima Nova Bold';
	font-size: 35px;
	margin-top: 50px;
	color: $secondary-colour;
	margin-bottom: 0;
}

.formula{
	float: left;
	width: 50%;
	margin-bottom: 70px;
}

.weather{
	background: #ddd;
	padding-left: 10px;
}

table{
	border: 1px dashed lighten($main-colour, 15%);
	float: right;
	width: 50%;
	border-collapse: collapse;
	font-size: 16px;
	font-family: 'Proxima Nova Regular';
	-webkit-box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 15px -4px rgba(0,0,0,0.25);
}

td{
	height: 30px;

	input{
		width: 95%;
		height: 100%;
		border: none;
		padding-left: 10px;
	}
}

tr.choice td{
	border-top: 1px solid lighten($main-colour, 10%);
	border-bottom: 1px solid lighten($main-colour, 10%);

	&:last-child{
		border-left: 1px solid lighten($main-colour, 10%);
	}
}

small{
	font-family: 'Proxima Nova Regular';
	font-size: 14px;
	color: rgba(0, 0, 0, 0.6);
}

.choice{
	background: #ccc;

	td{
		padding-left: 10px;
	}
}

.centre{
	text-align: center;
}

#all-weather{
	width: 50%;
	clear: both;
}

.icons{
	width: 50%;
	margin-bottom: 80px;
	margin-top: -20px;

	img{
		float: left;
	}
}

#rainy{
	margin-left: 15px;
}

#overcast{
	margin-left: 43%;
}

#sunny{
	float: right;
}

.c3-legend-item-Probability,
.c3-axis.c3-axis-x .tick,
.c3-tooltip th{
	display: none;
}