<!DOCTYPE html>
<html ng-app="NaiveBayes">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Naive Bayes</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<script src="js/angular.min.js"></script>
	<script src="js/naive-bayes/module.js"></script>
	<script src="js/naive-bayes/services.js"></script>
</head>
<body>
	<div class="container">
		<header>
			<h1>Naive Bayes</h1>
			<p>For this algorithm we're going to look at <b>Jerry</b>. Jerry likes <b>fishing</b> and we're going to assume that the weather has some influence on whether he'll participate in his favourite hobby or not on any given day. We have some prior data about Jerry's trips to the ocean, and we're going to use that to see whether he'll go today, tomorrow or any other day based on what the weather will be.</p>

			<p>This means we give the algorithm a weather condition (you can choose sunny, overcast or rainy) and it will make a prediction based on what it knows about Jerry's fishing habits of the past.</p>
		</header>

		<div class="editors" ng-controller="MainCtrl" ng-init="init()">
			<div class="formula">
				<label for="sunny-yes">Days he went fishing and it was sunny: </label>
				<input id="sunny-yes" ng-model="sunny[0]" type="number" max="{{ yes }}">

				<p>Total days he went fishing: {{ yes }}</p>

				<div class="likelihood">P(x|c) = {{ pOfXGivenC | number: 2 }}</div>
				<div class="prior-predictor">P(x) = {{ pOfX | number: 2 }}</div>
				<div class="prior-class">P(c) = {{ pOfC | number: 2 }}</div>

				<h2>P(c|x) = {{ posterior | number: 2 }}</h2>
			</div>

			<div class="freq-table">
				<table>
					<thead>
						<tr><td>Went Fishing</td></tr>
						<tr>
							<td>Yes</td>
							<td>No</td>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>Sunny</td>
							<td><input ng-model="sunny[0]" type="number" max="{{ yes }}"></td>
							<td><input ng-model="sunny[1]" type="number" max="{{ no }}"></td>
						</tr>
						<tr>
							<td>Overcast</td>
							<td><input ng-model="overcast[0]" type="number" max="{{ yes }}"></td>
							<td><input ng-model="overcast[1]" type="number" max="{{ no }}"></td>
						</tr>
						<tr>
							<td>Rainy</td>
							<td><input ng-model="rainy[0]" type="number" max="{{ yes }}"></td>
							<td><input ng-model="rainy[1]" type="number" max="{{ no }}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>