<!DOCTYPE html>
<html ng-app="NaiveBayes">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Naive Bayes</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/c3.min.css" type="text/css">
	<script src="js/angular.min.js"></script>
	<script src="js/d3.min.js"></script>
	<script src="js/c3.min.js"></script>
	<script src="js/naive-bayes/module.js"></script>
	<script src="js/naive-bayes/services.js"></script>
</head>
<body>
	<div class="container">
		<header>
			<h1>Naive Bayes</h1>
			<p>For this algorithm we're going to look at <b>Jerry</b>. Jerry likes <b>fishing</b> and we're going to assume that the weather has some influence on whether he'll participate in his favourite hobby or not on any given day. We have some prior data about Jerry's trips to the ocean, and we're going to use that to see whether he'll go today, tomorrow or any other day based on what the weather will be.</p>

			<p>This means we give the algorithm a weather condition (you can choose sunny, overcast or rainy) and it will make a prediction based on what it knows about Jerry's fishing habits of the past.</p>
		</header>

		<div class="editors" ng-controller="MainCtrl" ng-init="init()">
			<div class="formula">
				<label for="sunny-yes">Days he went fishing and it was sunny: </label>
				<input id="sunny-yes" ng-model="sunny[0]" type="number" max="{{ yes }}">

				<p>Total days he went fishing: {{ yes }}</p>

				<div class="likelihood">P(x|c) = {{ sunnyPOfXGivenC | number: 2 }}</div>
				<div class="prior-predictor">P(x) = {{ sunnyPOfX | number: 2 }}</div>
				<div class="prior-class">P(c) = {{ sunnyPOfC | number: 2 }}</div>

				<h2>P(c|x) = {{ sunnyPosterior | number: 2 }}</h2>
				<small>The probability that Jerry will go fishing when it's sunny</small>
			</div>

			<div class="freq-table">
				<table>
					<thead>
						<tr>
							<td class="weather centre" rowspan="2">Weather</td>
							<td class="choice centre" colspan="2">Went Fishing</td>
						</tr>
						<tr class="choice">
							<td>Yes</td>
							<td>No</td>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td class="weather">Sunny</td>
							<td><input ng-model="sunny[0]" type="number" max="{{ yes }}" min="0"></td>
							<td><input ng-model="sunny[1]" type="number" max="{{ no }}" min="0"></td>
						</tr>
						<tr>
							<td class="weather">Overcast</td>
							<td><input ng-model="overcast[0]" type="number" max="{{ yes }}" min="0"></td>
							<td><input ng-model="overcast[1]" type="number" max="{{ no }}" min="0"></td>
						</tr>
						<tr>
							<td class="weather">Rainy</td>
							<td><input ng-model="rainy[0]" type="number" max="{{ yes }}" min="0"></td>
							<td><input ng-model="rainy[1]" type="number" max="{{ no }}" min="1"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div id="all-weather">
			</div>

			<div class="icons">
				<img src="img/rainy.svg" id="rainy">
				<img src="img/overcast.svg" id="overcast">
				<img src="img/sunny.svg" id="sunny">
			</div>

		</div><!-- end MainCtrl -->

		<p>
			Obviously, there are a number of insights we can glean from these representations of the Naive Bayes algorithm, even if we don't have a mathematics background, but here are a few off the bat:
		</p>

		<ol>
			<li>
			Given a possible class and test entry, the algorithm only ever considers data from that class and that entry. You can test this out: change the <b>overcast</b> or <b>rainy</b> data entries and notice that nothing changes in the final probability of fishing on a sunny day, even though the internals of the algorithm <i>do</i> change. So Naive Bayes will never account for other possible classes in its calculations of a final probability.
			</li>
			<li>
			Naive Bayes suffers if there is little data to work from (this is true of all machine learning algorithms). Try make <b>sunny</b> data a 1 for <b>yes</b> and a 0 for <b>no</b> and check out the probability. The algorithm assumes that because Jerry went fishing on the one sunny day we know about, he will go fishing for <i>all</i> sunny days, which is almost certainly not true.
			</li>
			<li>
			The algorithm does, however, give us a nice picture of Jerry's fishing habits when we plot all possibilities in a chart.
			</li>
		</ol>
	</div>
</body>
</html>